/*csslint important:false*/
/* ==========================================================================
   Pure Base Extras
   ========================================================================== */

/**
 * Extra rules that Pure adds on top of Normalize.css

html {

}
*/

/**
 * Always hide an element when it has the `hidden` HTML attribute.
 */

.hidden,
[hidden] {
    display: none !important;
}



.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}



input, textarea, .select_OK {
    -webkit-touch-callout:default;
    -webkit-user-select:text;
    -khtml-user-select: text;
    -moz-user-select:text;
    -ms-user-select:text;
    user-select:text;
}


/**
 * Add this class to an image to make it fit within it's fluid parent wrapper while maintaining
 * aspect ratio.
 */
.pure-img {
    max-width: 100%;
    height: auto;
    display: block;
}

.items {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-top: -10px;
}

.items .item {
	flex: 1 0 300px;
	box-sizing: border-box;
	background: -webkit-linear-gradient(to right, rgba(242, 242, 210, 0.3), white);
	background: linear-gradient(to right, rgba(242, 242, 210, 0.3), white );
	color: #171e42;
	padding: 10px;
	margin-left: 10px;
	margin-top: 0px;
}

.items .extra-i {
	padding-left: 10%;
	padding-bottom: 4px;
	padding-right: 12px;
	font-size: 110%;
	font-family: sans-serif;
}

.middleBanner {
	text-align: 'center';
	padding-left: 10%;
	padding-right: 10%;
	font-weight:bold;
	color: darkgreen;
	padding-top:4%;
	overflow:auto;
}

.applink {
	padding:3px;
	background-color: cornsilk;
	width:inherit;
	min-height: 100%;
	color:darkolivegreen;
	font-weight: bolder;

}

.extraBanner {
	text-align: 'center';
	padding-left: 10%;
	padding-right: 10%;
	font-weight:bold;
	color: #FF4400;
	padding-top:4%;
}


.fillLowerWrap {
	width: 66%;
	margin-left:0px;
	margin-right:0px;
	padding: 8px;
	margin-top:8px;
	background: -webkit-linear-gradient(to right, white, #FAFAFF);
	background: linear-gradient(to right, white, #FAFAFF );
	margin-left: 10px;
	min-height: fit-content;
	display: table-column-group;
}


@media (max-width: 1225px) {
	.fillLowerWrap {
		visibility : "none";
		height : 0px;
	}
}


.fillLower {
	border: darkred 2px solid;
	height: fit-content;
	width: 96%;
	min-height: fit-content;
	margin-left: 10px;
	padding:8px;
	background: -webkit-linear-gradient(to right, rgba(252, 252, 240, 0.4), #FEFEFE);
	background: linear-gradient(to right, rgba(252, 252, 240, 0.4), #FEFEFE );
}

.fillLower-respect {
	max-width: 30%;
}

@media (min-width: 1220px) {
	.fillLowerWrap {
		width: 66%;
	}
}

@media (max-width: 1219px) {
	.fillLowerWrap {
		width: 100%;
	}
}

@media (max-width: 1100px) {
	.fillLowerWrap {
		width: 66%;
	}
}

.fitMenuLower {
	width: 95%;
	height: 50%;
	margin-left:0px;
	margin-right:0px;
	padding: 8px;
	margin-top:8px;
	background: -webkit-linear-gradient(to right, white, #FAFAFF);
	background: linear-gradient(to right, white, #FAFAFF );
	margin-left: 10px;
}

#squashMenu:hover {
	border: 1px solid rgb(230,230,240,0.4);
	padding-top:4px;
	background-color: #EFEFEF;
}

#squashMenuContainer {
	position:absolute;
	visibility:hidden;
	top : 0; left : 0;
	height:100%;
	width: 55%;
	z-index:100;
	border: rgba(252, 190, 190, 0.4) 2px solid;
	background-color: white;
}

.fade_able {
	position:absolute;
	visibility:hidden;
	top : 10px; left : 10px;
	height:80%;
	width: 40%;
	z-index:101;
	border: rgba(252, 190, 190, 0.4) 2px solid;
	background-color: white;
	overflow:hidden;
}

.solid_able {
	position:absolute;
	visibility:hidden;
	top : 10px; left : 10px;
	height:80%;
	width: 40%;
	z-index:111;
	border: rgba(252, 190, 190, 0.4) 2px solid;
	background-color: white;
	overflow: hidden;
}

@media screen and (max-width: 950px) {
	.solid_able {
		width: 90%;
	}
}

#thankyou_box {
	position:absolute;
	visibility:hidden;
	top : 25%; left : 25%;
	height:50%;
	width: 50%;
	z-index:150;
	border: rgba(100, 5, 5, 0.6) 2px solid;
	background-color: lightgoldenrodyellow;
	overflow: auto;
}

@media screen and (max-width: 1040px) {
	.fade_able {
		width: 60%;
	}
}

@media screen and (max-width: 600px) {
	.fade_able {
		width: 90%;
	}
}

.fade_able_content {
	height:100%;
	width: 100%;
	overflow:auto;
}

.togglebar {
	height:20px;
	visibility:inherit;
	background-color: navy;
	text-align:right;
}

.closer_x {
	padding:2px;
	color:purple;
	font-weight:bolder;
	font-family: sans-serif;
	border: solid 1px rgb(255, 102, 0);
	cursor:pointer;
	height: 19px;
	font-size:smaller;
}
.closer_x:hover {
	padding:2px;
	color:purple;
	font-weight:bolder;
	font-family: sans-serif;
	border: solid 1px rgb(44, 129, 44);
	cursor:pointer;
	height: 19px;
	font-size:smaller;
	background-color: rgb(248, 245, 219);
}


.user-id {
	font-weight: bolder;
	color: rgb(5, 44, 5);
}

button {
	cursor: pointer;
	font-size: 101%;
	font-weight: bold;
	color: darkblue;
	margin: 2px;
	width:120px;
	border-color: rgba(248, 238, 200, 0.712);
	border-radius: 16px;
	background-color: rgba(248, 248, 255, 0.815);
	box-shadow: 3px 2px rgba(236, 236, 209, 0.74);
}

button:hover {
	background-color : #CACAFF;
	color: darkred;
}

.button-hit-once {
	box-shadow: blanchedalmond;
}

.button-hit-once:disabled {
	cursor:none;
	color:lightsteelblue;
	background-color:antiquewhite;
}

@media screen and (max-width: 390px) {
	.items .extra-i {
		padding-left: 1%;
	}
}

@media screen and (max-width: 600px) {
	.items .extra-i {
		padding-left: 3%;
	}
}

.longviz {
	visibility : "visibile";
	height: 10px;
	background-color:inherit;
}

@media (max-width: 1040px) {
	.longviz {
		visibility : "none";
		height : 0px;
	}
}

.shortviz {
	visibility : "none";
	height:0px;
	margin-top:6px;
}

@media (max-width: 620px) {
	.shortviz {
		visibility : "visible";
		height:2px;
		background-color:darkgreen;
		margin-bottom:12px;
	}
}

@media (min-width: 1040px) {
	.shortviz {
		visibility : "visible";
		height:120px;
		border: 2px darkblue solid;
		background-color:#FFFFF6;
		margin-bottom:30px;
		margin-top:5px;
	}
}

@media (min-width: 380px) {
	.items .item {
		max-width: calc(100% - 20px);
	}
	.items .extra-i {
		padding-left: 3%;
	}
}
@media (min-width: 410px) {
	.items .item {
		max-width: calc(100% - 10px);
	}
}
@media (min-width: 620px) {
	.items .item {
		max-width: calc(50% - 10px);
	}
}
@media (min-width: 830px) {
	.items .item {
		max-width: calc(50% - 10px);
	}
}
@media (min-width: 1040px) {
	.items .item {
		max-width: calc(33.33333% - 10px);
	}
}
@media (min-width: 1250px) {
	.items .item {
		max-width: calc(25%- 10px);
	}
}
@media (min-width: 1460px) {
	.items .item {
		max-width: calc(20% - 10px);
	}
}
@media (min-width: 1670px) {
	.items .item {
		min-width: calc(16.66667% - 10px);
	}
}


body {
	border: 1px solid black;
	
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


@media screen and (orientation: portrait) {
	#mainNav {
		width: 100%;
	}
}

@media screen and (orientation: landscape) {
	#mainNav {
		width: 100%;
	}
}

main {
	border-left: solid 3px navy;
	border-top: solid 1px #8833BB;
	padding : 4px;
	height: fit-content;
	margin-bottom: 0%;
}

@media (min-width: 1220px) {
	main {
		margin-bottom: 0%;
		border: none;
	}
}

@media (max-width: 1219px) {
	main {
		margin-bottom: 90px;
	}
}

@media (max-width: 1100px) {
	main {
		margin-bottom: 0%;
		border: none;
	}
}

#mainNav {
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	background: blue;
	border-left: solid 3px navy;
	border-top: solid 3px navy;
	border-bottom: solid 3px rgba(252,252,255,0.7);
	min-height: 90px;
	padding: 20px;
	background: -webkit-linear-gradient(to left, rgba(242, 242, 210, 0.3), white);
	background: linear-gradient(to left, rgba(242, 242, 210, 0.3), white );
	
}

#mainNav table {
	padding-left: 3%;
}


#mainNav  table  a:focus { outline: none; }
#mainNav  table  .navbar-brand {
	font-size: 1.1rem;
	color: white;
}

#mainNav  table  .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
	color: white;
}

#mainNav  table  .navbar-nav {
	letter-spacing: 1px; }

#mainNav  table  .navbar-nav li.nav-item {
	display:inline;
}



#mainNav  table  .navbar-nav li.nav-item a.nav-link {
	color: darkgreen;
	text-decoration: none;
	vertical-align: top;
	padding-right: 10px;
}

#mainNav  table  .navbar-nav li.nav-item a.nav-link:hover {
	color: #18BC9C;
	outline: none;
	
}


#mainNav  table  .navbar-nav a.nav-text {
	background-color : rgba(242,222,255,0.6);
	border-radius: 25px;
	margin-bottom: 9px;
	margin-right: 6px;
	white-space: nowrap;
}


#mainNav  table  .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus { color: white; }

.footer-list li {
	list-style-type: none;
}

.footer-list li a:hover { color: gold; }

.hover_group {
	cursor:pointer;
}

.hover_group rect {
	fill:#e6e6e6;
}

.hover_group:hover rect {
	fill: #F6F6e6;
}

footer {
	padding:10px;
	background: -webkit-linear-gradient(to left, rgba(252,252,255,0.5), #fffbe2 );
	background: linear-gradient(to left, rgba(252,252,255,0.5), #fffbe2  );
	text-align: center;
	font-size: 0.85em;
}

footer a {
	text-decoration:none;
	color:darkgreen;
	font-weight:bold;
	font-style: italic;
}

.copiouslink:hover {
	fill:navy;
}
.copiouslink {
	fill:black;
}

* {margin: 0; padding: 0; box-sizing: border-box}

.PhIOtjDr_0 {
	fill:none;
	stroke:#1c1448;
	stroke-width:4.59875107;
	stroke-miterlimit:4;
	stroke-dasharray: 2948 2950;
	stroke-dashoffset: 2949;
	animation: PhIOtjDr_draw 6666ms ease-in forwards;
}

@keyframes PhIOtjDr_draw {
	100% {stroke-dashoffset: 0}
}

@keyframes PhIOtjDr_fade {
	0% {stroke-opacity: 1}
	97.1830985915493% {stroke-opacity: 1}
	100% {stroke-opacity: 0}
}

.form_el {
	border:lightgray solid 1px;
	padding:6px;
	margin:2px;
	width:80%;
}

.form_el_inner {
	border:lightgray solid 1px;
	padding:6px;
	margin:2px;
	width:100%;
}

label {
	font-weight:bold;
	color:darkgreen;
	width:35%;
}

.field_el {
	width:65%;
}

@media (max-width: 1040px) {
	.field_el {
		width:94%;
		margin-left:3%;
		margin-right:3%;
	}
}

#contact_box {
	background: -webkit-linear-gradient(to right, rgba(252, 252, 240, 1.0), #FEFEFE);
	background: linear-gradient(to right, rgba(252, 252, 240, 1.0), #FEFEFE );
}

.textarea_field_el {
	width: 94%;
	margin:3%;
}

.error-message {
	visibility:hidden;
	width:75%;
	font-weight:bolder;
	color:red;
	background-color:white;
	border: solid 1px orange;
	padding:2px;
	margin:3px;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: relative; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	-webkit-animation-name: fadeIn; /* Fade in the background */
	-webkit-animation-duration: 0.4s;
	animation-name: fadeIn;
	animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
	position: inherit;
	top: 0;
	background-color: #fefefe;
	width: 100%;
	-webkit-animation-name: slideIn;
	-webkit-animation-duration: 0.4s;
	animation-name: slideIn;
	animation-duration: 0.4s
}

/* The Close Button */
.close {
	color: white;
	float: right;
	font-size: 18px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	padding: 2px 16px;
	background-color: #4ca85c;
	color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
	padding: 2px 16px;
	margin-bottom: 20px;
	background-color: darkgreen;
	color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
	from {bottom: -300px; opacity: 0}
	to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
	from {bottom: -300px; opacity: 0}
	to {top: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
	from {opacity: 0}
	to {opacity: 1}
}

@keyframes fadeIn {
	from {opacity: 0}
	to {opacity: 1}
}

#logout-control-top {
	visibility: hidden;
	display: none;
}

a {
	cursor: pointer;
}

#for_testing_dialogs {
	display: none;
	visibility: hidden;
}

.no-view-file-field {
	display: none;
	visibility: hidden;
}

.user-select-buttons {
	font-size:75%;
	width:40%;
	font-weight: 600;
}

.status-style {
	color:rgb(27, 77, 27);
	font-size: smaller;
	font-style: italic;
}

.hovering-svg {
	cursor: pointer;
}
 